{{template "pageStart.html" .}}
<div class="page-head">
	<div class="container">
		<h1 class="page-title">Creative people driven by pasion. <br> We develop the best strategies and products</h1>
	</div>
</div>

<div class="fullwidth-block">
	<div class="container">
		<div class="col-sm-12">
			<h2>VISION</h2>
			<p>AFALAB's vision is to provide creative service beyond expectations and to create an environment that includes everyone.</p>
		</div>
		<div class="col-sm-12">
			<h2>MISSION</h2>
			<p>AFALAB is a digital technology service company that works on the principle of customer focus in the startup sector, knows the sector well, knows the expectations of its stakeholders and defines new expectations and aims at their highest satisfaction, uses technology in creative direction, reliable, efficient and profitable service in this field.</p>
		</div>
	</div>
</div>

	
<div class="fullwidth-block testimonial-section">
	<div class="container">
		<div class="testimonial-slider">
			<ul class="slides">
				<li>
					<img src="/public/images/avatar.png" alt="" class="cite-avatar">
					<blockquote>
						<p>As an entrepreneur at the very beginning of the business, I had the opportunity to develop my product rapidly thanks to the services I received from Afalab. Afalab met my expectations as a Tech startup accelerator.</p>
						<cite>Ali - Director of Lumbarsoft</cite>
					</blockquote>
				</li>
				<li>
					<img src="/public/images/avatar.png" alt="" class="cite-avatar">
					<blockquote>
						<p>I received support from afalab for my mobile application on plastic recycling. It was an orderly, attentive and very helpful service. Never before has there been such progress in any of the freelance services.</p>
						<cite>Anaguli Abulizi</cite>
					</blockquote>
				</li>
				<!-- <li>
					<img src="/public/images/avatar.png" alt="" class="cite-avatar">
					<blockquote>
						<p>Consectetur adipisicing elit. Magnam dicta enim facere eos et quidem labore aliquam eius porro, assumenda, saepe nisi cum. Dolore id, maiores aspernatur tempora impedit saepe.</p>
						<cite>Richard Thomson</cite>
					</blockquote>
				</li> -->
			</ul>
		</div>
	</div>
</div>

<div class="fullwidth-block">
	<div class="container">
		<div class="col-sm-6 p-50">
			<p>In order to meet the diverse needs of the Creative Startup world, we provide technical services to help our customers increase their strength and get ahead in the competitive market.</p>
			
			<p>We offer services such as process planning, architectural creating or editing, mobile and Web application development.</p>

			<!-- <a href="#" class="button">Watch Showcase</a> -->
		</div>
		<div class="col-sm-6">
			<img src="/public/images/macbook.png" alt="" class="macbook">
		</div>
	</div>
</div>

<div class="fullwidth-block team-section">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-xs-6">
				<div class="team">
					<figure>
						<img src="/public/images/profile@2x.png" alt="" width="262" height="262">
						<figcaption>
							<h2>Ahmet Faruk Aygun</h2>
							<small>Founder & Director</small>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-md-9 col-xs-6">
				<div class="container">
					<div class="col-sm-9 p-40 lh-30">
						<p>I have worked in different sectors as a software developer for over 6 years. I have been founding and directing Afalab Digital Startup Accelerator with the inspiration of my previous startup experience. I aim to technically nurture startups to make a difference in the sector.</p>
						<p>I have worked in different sectors as a software developer for over 6 years. Working with GoLang, C #, .NET, ASP.NET, ASP.NET Core, Node.JS, MSSQL, PostgreSQL, Elasticsearch technologies, I gained solid experience in e-commerce, entertainment, publishing, recruitment and travel.
							I have been founding and directing Afalab Digital Startup Accelerator with the inspiration of my previous startup experience. I aim to technically nurture startups to make a difference in the sector.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{template "pageEnd.html" .}}