{{template "pageStart.html" .}}
<div class="map" data-latitude="51.4982875" data-longitude="-0.2824228" ></div>

<div class="fullwidth-block contact-area">
	<div class="container">

		<div class="row">
			<div class="col-md-5">
				<address>
					220 Gunnersbury Ave <br>
					London, W3 8LB <br>
					<a href="tel:(+44) 747 165 0571">(+44) 747 165 0571</a> <br>
					<a href="mailto:hello@afalab.com">hello@afalab.com</a>
				</address>
			</div>
			<div class="col-md-7">
				<div class="contact-form">
					<div class="row">
						<div class="col-md-6">
							<div class="control">
								<i class="fa fa-user"></i>
								<input type="text" placeholder="Name...">
							</div>
						</div>
						<div class="col-md-6">
							<div class="control">
								<i class="fa fa-envelope"></i>
								<input type="text" placeholder="Email...">
							</div>
						</div>
					</div>
					<div class="control">
						<i class="fa fa-pencil"></i>
						<textarea placeholder="Message"></textarea>
					</div>
					<p class="right-aligned">
						<input type="submit" value="Send message">
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "pageEnd.html" .}}