{{template "pageStart.html" .}}
<div class="map" data-latitude="-6.897789" data-longitude="107.621735" ></div>

<div class="fullwidth-block contact-area">
	<div class="container">

		<div class="row">
			<div class="col-md-5">
				<address>
					3512 Dodge St <br>
					Omaha, NE 68131 <br>
					<a href="tel:(+45) 647 636 7345">(+45) 647 636 7345</a> <br>
					<a href="mailto:hello@perfectlab.com">hello@perfectlab.com</a>
				</address>
			</div>
			<div class="col-md-7">
				<div class="contact-form">
					<div class="row">
						<div class="col-md-6">
							<div class="control">
								<i class="fa fa-user"></i>
								<input type="text" placeholder="Name...">
							</div>
						</div>
						<div class="col-md-6">
							<div class="control">
								<i class="fa fa-envelope"></i>
								<input type="text" placeholder="Email...">
							</div>
						</div>
					</div>
					<div class="control">
						<i class="fa fa-pencil"></i>
						<textarea placeholder="Message"></textarea>
					</div>
					<p class="right-aligned">
						<input type="submit" value="Send message">
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "pageEnd.html" .}}