{{template "pageStart.html" .}}
<div class="hero">
	<div class="container">
		<img src="/public/images/imac.png" alt="" class="imac">
		<div class="hero-content">
			<span>Adipisicing elit eiusmod tempor</span> <br>
			<span>Incididunt ut labore et dolore magna aliqua dolor</span>
		</div>
		<a href="#" class="button">Try it now</a>
	</div>
</div> <!-- .hero -->

<div class="fullwidth-block">
	<div class="container">
		<div class="col-md-4">
			<div class="feature">
				<i class="feature-icon"><img src="/public/images/icon-server.png" alt=""></i>
				<h2 class="feature-title">Dedicated Server</h2>
				<p>Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="feature">
				<i class="feature-icon"><img src="/public/images/icon-window.png" alt=""></i>
				<h2 class="feature-title">Intuitive Dashboard</h2>
				<p>Assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="feature">
				<i class="feature-icon"><img src="/public/images/icon-id-card.png" alt=""></i>
				<h2 class="feature-title">Your Own ID</h2>
				<p>Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident similique.</p>
			</div>
		</div>
	</div>
</div>

<div class="fullwidth-block cta">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Interested? You can try it <span>for free.</span> You just need 3 minutes!</h2>
			</div>
			<div class="col-md-3">
				<a href="#" class="button">Get Trial Version</a>
			</div>
		</div>
	</div>
</div>
{{template "pageEnd.html" .}}