{{template "pageStart.html" .}}
<div class="hero">
	<div class="container">
		<img src="/public/images/imac.png" alt="" class="imac">
		<div class="hero-content">
			<span>Startup Technical Accelerator</span> <br>
			<!-- <span>Incididunt ut labore et dolore magna aliqua dolor</span> -->
		</div>
	</div>
</div> <!-- .hero -->

<div class="fullwidth-block">
	<div class="container">
		<div class="col-md-4">
			<div class="feature">
				<i class="feature-icon"><img src="/public/images/icon-server.png" alt=""></i>
				<h2 class="feature-title">Customize Services</h2>
				<p>Digital solutions fitted to your special needs.</p>
			</div>
		</div>
		<!-- <div class="col-md-3">
			<div class="feature">
				<i class="feature-icon"><img src="/public/images/icon-window.png" alt=""></i>
				<h2 class="feature-title">Software Outsourcing</h2>
				<p>Full-cycle software development. You provide specifications, we deliver the end-to-end solution.</p>
			</div>
		</div> -->
		<div class="col-md-4">
			<div class="feature">
				<i class="feature-icon"><img src="/public/images/icon-id-card.png" alt=""></i>
				<h2 class="feature-title">Strategy & Planning</h2>
				<p>Strategy creation and planning services for product and software development.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="feature">
				<i class="feature-icon"><img src="/public/images/icon-server.png" alt=""></i>
				<h2 class="feature-title">Software Prototyping</h2>
				<p>Development of the product prototype and follow up to the final version.</p>
			</div>
		</div>
	</div>
</div>

<!-- <div class="fullwidth-block cta">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Interested? You can try it <span>for free.</span> You just need 3 minutes!</h2>
			</div>
			<div class="col-md-3">
				<a href="#" class="button">Get Trial Version</a>
			</div>
		</div>
	</div>
</div> -->
{{template "pageEnd.html" .}}