{{template "pageStart.html" .}}
<div class="page-head">
	<div class="container">
		<h1 class="page-title">We cooperate with the best startups</h1>
	</div>
</div>

<div class="fullwidth-block p-40">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<p>In order to meet the diverse needs of the Creative Startup world, we provide technical services to help our customers increase their strength and get ahead in the competitive market. We offer services such as process planning, architectural creating or editing, mobile and Web application development.</p>
			</div>
			<div class="col-md-4 col-xs-12">
				<p>We meet the unique needs of our customers by establishing scalable, profitable systems with technical strategy development to meet the needs of all startups from pre to scale-up stage.</p>
			</div>
			<div class="col-md-4 col-xs-12">
				<p>We aim to provide customized services for the original needs of our customers. Working in collaboration, we analyze and evaluate their existing systems and operations to determine the best solution.</p>
			</div>
		</div>
	</div>
</div>

<div class="fullwidth-block p-40">
	<div class="container text-center">

		<p>Contact us to find out how we can meet your specific needs. Let's have our first one-on-one meeting for free.</p>

		<a href="/contact" class="button">Contact us</a>

	</div>
</div>

<div class="fullwidth-block p-40">
	<div class="container">
		<h2 class="text-center">TECHNOLOGIES WE USE</h2>
		<div class="client-grid">
			<div class="client"><img src="/public/images/tech/aspnetcore.png" alt="aspnetcore"></div>
			<div class="client"><img src="/public/images/tech/goLang.png" alt="goLang"></div>
			<div class="client"><img src="/public/images/tech/nodejs.png" alt="nodejs"></div>
			<div class="client"><img src="/public/images/tech/rabbitmq.png" alt="rabbitmq"></div>
			<div class="client"><img src="/public/images/tech/redis.png" alt="redis"></div>
			<div class="client"><img src="/public/images/tech/mongodb-logo.jpg" alt="mongodb"></div>
			<div class="client"><img src="/public/images/tech/elastic.png" alt="elastic"></div>
			<div class="client"><img src="/public/images/tech/mssql.png" alt="mssql"></div>
			<div class="client"><img src="/public/images/tech/postgresql-logo.png" alt="postgresql"></div>
			<div class="client"><img src="/public/images/tech/docker-logo.png" alt="docker"></div>
			<div class="client"><img src="/public/images/tech/kubernetes.png" alt="kubernetes"></div>
			<div class="client"><img src="/public/images/tech/microsoft-azure.png" alt="microsoft-azure"></div>
			<div class="client"><img src="/public/images/tech/aws.png" alt="aws-cloud"></div>
		</div>

	</div>
</div>
{{template "pageEnd.html" .}}