<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="widget">
                    <h3 class="widget-title">Contact</h3>
                    <address>
                        <strong>Afalab</strong>
                        <p>220 Gunnersbury Ave London, W3 8LB</p>
                        <p><a href="#">(+44) 7471 650571</a><br>
                        <a href="#">hello@afalab.com</a></p>
                    </address>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <span>COPYRIGHTS © 2020 ALL RIGHTS RESERVED. | HELLO@AFALAB.CO.UK</span>
        </div>
    </div>
</footer> <!-- .site-footer -->