<header class="site-header">
    <div class="container">
        <a href="/" class="logo"><img src="/public/images/afalab.png" alt="Perfect Lab"></a>
        
        <!-- Default snippet for navigation -->
        <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item {{ if eq .CurrentPage "home" }} current-menu-item {{end}}"><a href="/">Home</a></li>
                <li class="menu-item {{ if eq .CurrentPage "about" }} current-menu-item {{end}}"><a href="/about">About</a></li>
                <li class="menu-item {{ if eq .CurrentPage "features" }} current-menu-item {{end}}"><a href="#">Features</a></li>
                <li class="menu-item {{ if eq .CurrentPage "clients" }} current-menu-item {{end}}"><a href="/clients">Clients</a></li>
                <li class="menu-item {{ if eq .CurrentPage "contact" }} current-menu-item {{end}}"><a href="/contact">Contact</a></li>
                
            </ul> <!-- .menu -->
        </div> <!-- .main-navigation -->
        
        <div class="mobile-navigation"></div>
    </div> <!-- .container -->
</header> <!-- .site-header -->